body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}

body > section {
  height: 100%;
}

body > section > header {
	/* Der Header (inkl. Navigationsmenü) sollte immer zu sehen sein, daher
	   fixieren damit er beim Scrollen stehen bleibt.*/
	/*position: fixed; 
	top: 0px;
	left: 0px;*/
	width: 100%; /* Immer so breit wie der Viewport des browsers. */
	height: 8.75%;
	box-shadow: 0px 10px 10px 00px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

body > section > footer {
	/* Der Footer sollte immer zu sehen sein, daher fixieren damit er beim Scrollen 
	   stehen bleibt.*/
	/*position: fixed;
	top: 91.25%;*/
	width: 100%; /* Immer so breit wie der Viewport des browsers. */
	height: 8.75%;
	box-shadow: 0px -10px 10px 00px rgba(0, 0, 0, 0.3);
	z-index: 10;
}

#scrollContainer {
	height: 82%;
	background-color: magenta; /* Eventuelle lücken sollten gut Sichtbar sein. */
	/*position: absolute;*/
	/*top: 8.75%;*/
	left: 0px;
	white-space: nowrap;
}

.scene {
	display: inline-block; /* Szenen sollten sich inline hintereinander Ausrichten. */
	background-color: white;
	width: 100vw; /* 100vw entspricht 100% der breite des Viewports des Browsers. */
	min-width: 1000px;
	max-width: 2000px;
	height: 100%; /* Immer so groß wie der Scrollcontainer. */
	
}

#intro1 {
	background-image: url(../img/einl_selbstst_bg_2500x660.jpg);
	background-size: auto 100%;
}

#intro1 .student {
	position: absolute;
	bottom: 0px;
	left: 50%;
	height: 66%;
	margin-left: 0 auto; /* Zentriert das Element. */
}

#intro1 .cloud {
	position: absolute;
}

#intro1 .cloud.one {
	top: 1.9%;
	height: 18.63%
}

#intro1 .cloud.two {
	top: 3.78%;
	height: 25.75%;
}

#intro1 .cloud.three {
	top: 20px;
	height: 22.72%;
}

#intro1 .cloud.four {
	top: 5px;
	height: 25.75%;
}

#intro1 .house {
	position: absolute;
	bottom: 0px;
}

#intro1 .house.right {
	left: 72%;
	height: 43.78%;
}

#intro1 .house.left {
	left: 6%;
	height: 32.87%;
}

#intro1 .airplane {
	position: absolute;
	top: 20px;
	left: -10%;
	height: 13.18%;
}

#intro1 #intro1_textbox {
	position: absolute;
	margin-left: 40px;
	margin-top: 30px;
	line-height: 0.8;
	font-size: 1.8em;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	letter-spacing: 0.2em;
}
