@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro); /* Einbinden der Schrift fuer Fliesstext */
@import url(http://fonts.googleapis.com/css?family=Oswald&subset=latin,latin-ext); /* Einbinden der Schrift fuer Ueberschriften und Highlights */

/* Schriftgroesse wird per Javascript dynamisch gesetzt. */
body {
	background-color: #000;
	font-family: 'Source Sans Pro';
	margin: 0;
}

/* Ueberschriften definieren */
h1 {
	font-family: 'Oswald';
	font-size: 200%;
	letter-spacing: 0.05em;
	margin-top: 0.4em;
	margin-bottom: 0.6em;
}

h2 {
	font-family: 'Oswald';
	font-size: 140%;
	letter-spacing: 0.05em;
	margin-bottom: 0.4em;
}

h3 {
	font-family: 'Oswald';
	font-size: 110%;
	letter-spacing: 0.05em;
}

p {
	margin-top: 12px;
}

/* Links allgemein */
a {
	text-decoration: none;
	border: none;
	color: #000000;
}

a.visited {
	text-decoration: none;
	border: none;
}

a:active {
	text-decoration: none;
	border: none;
}

/* Ende Links */

/* Klassen zur Aenderung der Schriftgroesse, muss noch festgestellt werden, welche wieder weg koennen */
.s300 { font-size: 300%; }
.s200 { font-size: 200%; }
.s150 { font-size: 150%; }
.s120 { font-size: 120%; }
.s80 { font-size: 80%; }
.s40 { font-size: 40%; }

/* Klassen zur Aenderung der Schriftfarbe */
.ccyan { color: #4169e1; }
.cwhite { color: #FFFFFF; }
/* Ergaenzende Farbwerte fuer die Navigation */
.cred { color: #AA261D; }
.cblue { color: #1D3072; }
.cgreen { color: #49922F; }
.cgrey { color: #C7C7C7; }
.bggrey { background-color: #C7C7C7; }
/* Text alignment*/
.aright { text-align: right; }

#scrollContainer {
	background-color: black;
	/* Eigentlich nicht notwendig (man haette das Element auch relativ zur groesse des html/body ohne positionierung 
	   ausrichten koennen, aber durch einen bekannten Webkit Bug fuer Safari nicht anders moeglich: 
	   https://bugs.webkit.org/show_bug.cgi?id=26559 */
	position: absolute;
	/* Immer so gro� wie der Viewport des Browsers. */
	height: 100%;
	width: 100%;
	min-height: 400px;
	max-height: 800px;
}

/* Werden per Javascript so gross wie der gesamte Scrollbereich. */
#scrollContainer > header, #scrollContainer > footer {
	background-color: black;
	height: 8.75%;
	position: relative; /* Muss Positionierung haben um z-index zu setzen. */
	z-index: 20; /* Damit liegen header und footer (und deren Schatten) ueber dem Scrollcontainer. */
}

#scrollContainer > header {
	box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
}

#scrollContainer > footer {
	box-shadow: 0px -10px 10px 3px rgba(0, 0, 0, 0.3);
}

.scene {
	/* Fuer die erste Szene gilt somit, dass sie so breit wie der Scrollcontainer ist, weitere Szenen
	   sind damit alle immer genau so Breit wie die erste Szene => Alle Szenen so gross wie der Viewport des
	   Browsers. */
	width: 100%;
	height: 100%; /* Immer so gross wie die uebergeordnete Szene. Wird fuer die erste Szene ueberschrieben! */
	min-width: 1000px;
	max-width: 2000px;
	/* In Szenen wird gerne einiges von den Seiten heraus eingeflogen, diese Elemente sollen au�erhalb der Szene
	   nicht Sichtbar sein. */
	overflow: hidden;
	position: relative; /* relativ positionieren, damit innere Elemente absolut positioniert werden koennen */
	/* Die Szene direkt hinter die Aktuelle platzieren. Wird fuer die erste Szene ueberschrieben! */
	left: 100%;
}

.scene > * {
	position: absolute; /* Alle direkten Unter-Elemente einer Szene werden absolut positioniert um animierbar zu sein. */
}

.scene > *.fixed {
	position: fixed; /* Ausser es handelt sich um Texte, diese muessen mit der Klasse .fixed deklariert werden. */
}

.scene .textblock {
	left: 2%;
	top: 9%;
	width: 40%; /* In den meisten Szenen gibt es wichtige Objekte in der Mitte, die der Text moeglichst nicht ueberlagern sollte. */
	min-width: 350px;
	max-width: 600px;
	height: 82%;
}

.scene .textblock.right {
	left: auto;
	right: 2%;
	text-align: right;
}

.scene .textblock * {
	/* Da nur positionierte Elemente verschoben (und somit mit Tweens animiert) werden koennen. */
	position: relative;
}

.scene .textblock p, .scene .textblock h1, .scene .textblock h2, .scene .textblock h3 {
	width: 100%; /* Innere Textelemente koennten sich sonst waehrend einer horizontalen animierten Bewegung in ihrer Groesse veraendern. */
}

.sceneChange {
	/* Wird spaeter per JS geaendert, dieser Wert dient erstmal nur dazu, das Element auss dem sichtbaren 
	   Bereich heraus zu schieben, damit es spaeter wieder eingeschoben werden kann. */
	left: 100%;
	top: 0;
	height: 100%;
	width: 1000px;
	background-color: black;
}

/********************************
** Erste Szene des Intros
********************************/
#intro1 {
	background-image: url(../img/einl_selbstst_bg_2500x660.jpg);
	/* Eigentlich nimmt eine Szene 100% der uebergeordneten Szene ein, ausser die erste Szene, diese muss so gross wie der 
	   scrollContainer minus header und footer sein. */
	height: 82.5%;
	left: 0%; /* Im Gegensatz zu allen anderen Szenen ist diese von anfang an sichtbar. */
}

#intro1 > .student {
	bottom: 0; /* Bild wird unten festgemacht */
	max-height: 66.3%;
	left: 50%;
	/* Das Element um die Haelfte der eigene Breite nach links Uebersetzen. */
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

/* Wolken positionieren */
#intro1 > .cloud.one {
	top: 1.9%;
	max-height: 18.7%;
}

#intro1 > .cloud.two {
	top: 3.78%;
	max-height: 25.8%;
}

#intro1 > .cloud.three {
	top: 20px;
	max-height: 22.8%;
}

#intro1 > .cloud.four {
	top: 5px;
	max-height: 25.8%;
}

#intro1 > .scrollhint {
	top: 35%;
	left: 75%;
}

/* Haeuser positionieren */
#intro1 > .house {
	bottom: 0; /* Bilder werden unten festgemacht */
}

#intro1 > .house.right {
	left: 72%;
	max-height: 44%;
}

#intro1 > .house.left {
	left: 6%;
	max-height: 33%;
}

#intro1 > .airplane {
	max-height: 13.2%;
}

/* Die einzelnen Woerter unter der Headline. */
#intro1 > .bit {
	font-family: 'Oswald';
	font-weight: bold;
}

/********************************
** Zweite Szene des Intros
********************************/
#intro2 {
	background-image: url(../img/Einleitung/einl_bg2_2500x660.jpg);
	background-size: auto 100%;
}

#intro2 > .students {
	bottom: 0;
	left: 50%;
	/* Das Element um die Haelfte der eigene Breite nach links Uebersetzen. */
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	height: 63.93%;
	max-height: 422px;
}

#intro2 > .students > .bg {
	/* An der Hoehe des auesseren Containers ausrichten. 
	   Hinweis: Die Breite wird nicht festgelegt, d.h. sie passt sich proportional zum Bild an, und richtet somit auch den auesseren Container
	   aus in der Horizontalen aus. */
	height: 100%;
	/* Da .shine positioniert ist, muss dieses Element aus positioniert sein damit die z-order, die durch die HTML-Struktur vorgegeben ist, 
	   eingehalten wird. */
	position: relative;
}

#intro2 > .students > .shine {
	/* Da das eigentliche Studentenbild das horizontale Mass des Containers bestimmt, kann der Effekt jetzt relativ dazu mittels % dazu 
	   ausgerichtet werden. Er wird absolut positioniert, da der Effekt selbst die groesse des Containers nicht Veraendern soll und hinter 
	   dem anderen Bild liegen muss. */
	position: absolute;
	/* Verschiebt das Bild so, dass die linke obere Kante an bei den Haenden der kommilitonen liegt. */
	left: 44.8%;
	top: 30%;
	/* Effekt zentrieren. */
	margin-left: -250px;
	margin-top: -250px;
}

#intro2 > .textblock {
	width: 35%;
}

/********************************
** Erste Szene der Vorlesung
********************************/
#lecture {
	background: #b2d7e2;
}

#lecture > .lectureroom {
	left: 0;
}

#lecture > .board {
	left: 52%;
	transform: translate(-52%, 0);
	-webkit-transform: translate(-52%, 0);
	-ms-transform: translate(-52%, 0);
}

#lecture > .prof {
	bottom: 13%;
}

#lecture > .tree {
	left: 1470px;
}

#lecture > .tree.trunk {
	left: 1490px;
	top: 30px;
}

#lecture > .tree.leaves.orange {
	left: 1525px;
	top: 20px;
}

#lecture > .front, #lecture > .row.third {
	bottom: 0;
}

#lecture > .row.second {
	bottom: 3.63%;
}

#lecture > .row.first {
	bottom: 8.03%;
}

#lecture > .ppl1 {
	bottom: 12%;
}

#lecture > .ppl2 {
	bottom: 9%;
}

#lecture > .ppl3 {
	bottom: 3%;
}

#lecture > .textblock {
	left: 10%;
}

/********************************
** Erste Szene des Selbststudiums - Biblio
********************************/
#selfstudy1 {
	background-image: url(../img/Selbststudium/Biblio/selbstst_hg_2500x660.jpg);
	background-size: auto 100%;
}

#selfstudy1 > .learninggroup {
	height: 70.46%;
	max-height: 465px;
	bottom: 0; /* Bild wird unten festgemacht */
	left: 50%; /* Bild in die Mitte schieben */
	/* Das Element um die Haelfte der eigene Breite und ein Stueck weiter nach links Uebersetzen. 
	   Die zusaetzlichen 12.4% Verschiebung werden aufgrund des rechts platzierten tisches hinzugerechnet. */
	transform: translate(-62.4%, 0);
	-webkit-transform: translate(-62.4%, 0);
	-ms-transform: translate(-62.4%, 0);
}

#selfstudy1 > .righttable {
	height: 41.07%;
	max-height: 271px;
	bottom: 0; /* Bild wird unten festgemacht */
	right: 0%;
}

#selfstudy1 > .textblock {
	width: 60%;
}

#selfstudy1 > .foreground {
	bottom: 0%;
	height: 100%; /* Immer so hoch wie die Szene. */
}

/********************************
** Zweite Szene des Selbststudiums - Urlaub
********************************/
#selfstudy2 {
	background-image: url(../img/einl_selbstst_bg_2500x660.jpg);
	background-size: auto 100%;
}

#selfstudy2 > .middleground {
	height: 100%; /* Immer so hoch wie die Szene. */
	bottom: 0; /* Bild wird unten festgemacht */
	left: 50%;
	/* Das Element um die Haelfte der eigene Breite nach links Uebersetzen. */
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

#selfstudy2 > .foreground {
	bottom: 0; /* Bild wird unten festgemacht */
	max-height: 279px;
	height: 42.28%;
}

#selfstudy2 > .palm.first {
	right: -0.5%;
	top: -15%;
	height: 72.85%;
	max-height: 479px;
	transform-origin: 100% 90%;
	-webkit-transform-origin: 100% 90%;
}

#selfstudy2 > .palm.second {
	right: -0.5%;
	top: 23%;
	height: 59.55%;
	max-height: 393px;
	transform-origin: 100% 90%;
	-webkit-transform-origin: 100% 90%;
}

#selfstudy2 > .cloud.one {
	top: 10%;
	max-height: 20.8%;
}

#selfstudy2 > .cloud.two {
	top: 20%;
	max-height: 15.8%;
}

#selfstudy2 > .cloud.three {
	top: 4%;
	max-height: 22.8%;
}

#selfstudy2 > .crab {
	bottom: 5%;
	height: 11.22%;
	max-height: 74px;
}

/********************************
** Dritte Szene des Selbststudiums - Eigenheim
********************************/
#selfstudy3 > .middleground {
	/* Immer so gross wie die Szene und 1% uebergroesse damit der Szenenhintergrund auch wirklich immer vollsteandig augefuellt ist (durch
	   Rundung koennte je nach Skalierung ein Pixel weggeschnitten werden. */
	height: 100%;
	left: 50%;
	/* Das Element um die Haelfte der eigene Breite nach links Uebersetzen. */
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

#selfstudy3 > .middleground > .daynight {
	position: absolute;
	left: 67%;
	top: 17.88%;
	height: 38.19%;
	max-heigth: 252px;
	z-index: -1;
}

#selfstudy3 > .middleground > .background {
	height: 100%;
}

#selfstudy3 > .middleground > .clock {
	position: absolute;
	top: 24%;
	left: 57%;
	height: 18.94%;
	max-height: 125px;
}

#selfstudy3 > .bit {
	top: 30%;
	left: 43%;
}

#selfstudy3 > .student {
	height: 50.16%;
	max-height: 331px;
	bottom: 0; /* Bild wird unten festgemacht */
	left: 50%; /* Bild in die Mitte schieben */
	/* Das Element um die Haelfte der eigene Breite und ein Stueck weiter nach links Uebersetzen. 
	   Die zusaetzlichen 10% Verschiebung werden hinzugerechnet um den Studenten moeglichst in der Mitte der Szene zu platzieren. */
	transform: translate(-60%, 0);
	-webkit-transform: translate(-60%, 0);
	-ms-transform: translate(-60%, 0);
}

#selfstudy3 > .student.third {
	height: 65.31%;
	max-height: 431px;
}
#selfstudy3 > .foreground.first {
	top: 64%;
	height: 36.22%;
	max-height: 239px;
}

#selfstudy3 > .foreground.second {
	top: 66%;
	height: 34.4%;
	max-height: 227px;
}

#selfstudy3 > .foreground.third {
	top: 86%;
	height: 14.25%;
	max-height: 94px;
}

#selfstudy3 > .foreground.fourth {
	top: 71%;
	height: 29.55%;
	max-height: 195px;
}


/********************************
** erste Szene der Mensa 
********************************/
#canteen {
	
}

#canteen > .serving-table.first {
	bottom: 0; /* Bild wird unten festgemacht */
}

#canteen > .serving-table.second {
	bottom: 217px; /* Bild wird unten festgemacht */
}

#canteen > .canteenbg {
	top: 0%;
}

#canteen > .food.subtxt, .souce.subtxt {
	width: 400px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
}

#canteen > .bit {
	font-weight: bold;
}

#canteen > .dessertlink {
	bottom: 312px;
}

#canteen > .food1txt, .food2txt, .food3txt, .souce1txt, .souce2txt, .souce3txt {
	bottom: 120px;
	left: 110%;
}

#canteen > .food.first, .food.second, .food.third, .souce.first, .souce.second, .souce.third {
	bottom: 180px;
	left: 110%;
}

#canteen > .lamp.first {
	left: 20%; 
	top: 0%;
}

#canteen > .lamp.second {
	left: 50%;
	top: 0%;
}

#canteen > .lamp.third {
	left: 80%;
	top: 0%;
}

#canteen > .arrow {
	left: 72%;
	bottom: 400px;
}

#canteen > .bit.s150 {
	left: 72%;
	bottom: 460px; 
}



/********************************
** erste Szene der features 
********************************/
#feature {
	background-color: #000000;
	
}

#feature > .window-frame {
	/* Immer so gross wie die Szene und 1% uebergroesse damit der Szenenhintergrund auch wirklich immer vollsteandig augefuellt ist (durch
	   Rundung koennte je nach Skalierung ein Pixel weggeschnitten werden. */
	height: 100%;
	left: 50%;
	background-image: url(../img/Tools-Vorteile/Feature/tools_hg_landschaft.png);
	background-height: 100%;	
	/* Das Element um die Haelfte der eigene Breite nach links Uebersetzen. */
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}

#feature > .boy{ 
		
	bottom: 0%;
	left: 50%;
}

#feature > .logo{
	height: 23.6%;
}

/*links nach rechts*/
#feature > .logo.first, .logo.fourth, .logo.seventh, .blackbox, .logo2.first{ 
	top: 4.9%;
}

#feature > .logo.second, .logo.fifth, .logo.eighth, .logo2.second{ 
	top: 31.9%;
}

#feature > .logo.third, .logo.sixth, .logo.ninth, .logo2.third, .logo2.fourth, .logo2.fifth{ 
	top: 58.6%;
}
/*oben nach unten*/
#feature > .logo.first, .logo.second, .logo.third, .logo2.first, .logo2.second, .logo2.third{ 
	left: 24.17%;
}

#feature > .logo.fourth, .logo.fifth, .logo.sixth, .blackbox, .logo2.fourth{ 
	left: 41.64%;
}
#feature > .logo.seventh, .logo.eighth, .logo.ninth, .logo2.fifth{ 
	left: 59.22%;
}

/*??bilder von weib??*/
/*
#feature > .girl.first
{
	left: 24%;
	top: 5%;
}

#feature > .girl.second
{
	left: 24%;
	top: 60%;
}
#feature > .girl.third
{
	left: 24%;
	top: 30%;
}
#feature > .girl.fourth
{
	left: 42%;
	top: 60%;
}
*/











