body {
	background-color: black;
	margin: 0px;
	padding: 0px;
}

body > header {
	/* Der Header (inkl. Navigationsmenü) sollte immer zu sehen sein, daher
	   fixieren damit er beim Scrollen stehen bleibt.*/
	position: fixed; 
	top: 0px;
	left: 0px;
	width: 100%; /* Immer so breit wie der Viewport des browsers. */
	height: 70px;
}

body > footer {
	/* Der Footer sollte immer zu sehen sein, daher fixieren damit er beim Scrollen 
	   stehen bleibt.*/
	position: fixed;
	width: 100%; /* Immer so breit wie der Viewport des browsers. */
	top: 730px;
	height: 70px;
}

#scrollContainer {
	height: 660px;
	background-color: magenta; /* Eventuelle lücken sollten gut Sichtbar sein. */
	position: absolute;
	top: 70px;
	left: 0px;
	white-space: nowrap;
}

.scene {
	display: inline-block; /* Szenen sollten sich inline hintereinander Ausrichten. */
	background-color: white;
	width: 100vw; /* 100vw entspricht 100% der breite des Viewports des Browsers. */
	min-width: 1000px;
	max-width: 2000px;
	height: 100%; /* Immer so groß wie der Scrollcontainer. */
}

#intro1 {
	background-image: url(../img/einl+selbstst_bg_2500x660.jpg);
}

#intro1 .student {
	position: absolute;
	left: 50%;
	bottom: 0px;
	margin-left: -58px; /* Die hälfte der Breite des Bildes abziehen, um es zu zentrieren. */
}

.cloud {
	position: absolute;
}

.cloud.one {
	top: 125px;
}

.cloud.two {
	top: 25px;
}

.cloud.three {
	top: 60px;
}

.cloud.four {
	top: 5px;
}